/* css do body da página front */
body{
    color: var(--white);
}

/* css do titulo da página front */
.FrontTitle{
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* css da div principal da página front */
.divPrinci{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}

/* css da div principal das imagens da página front */
.divPrinci img{
    width: 200px;
}

/* css dos textos da página front */
.textos{
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
}

.textos h2{
    padding: 1rem 0;
}

.textos div ol{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* css da media para deixar o site responsivo ná página front */
@media (max-width: 650px) {

    .FrontTitle{
        font-size: .8rem;
    }
    
    .divPrinci{
        flex-direction: column;
        gap: 1rem;
    }
    
    .textos{
        gap: 1rem;
        text-align: center;
        padding: 0 1rem;
    }
    
    .textos div ol{
        padding: .4rem .8rem;
    }
    
}

@media (max-width: 550px) {
    .FrontTitle{
        font-size: .55rem;
    }
    
}
