@font-face {
    font-family: 'MinhaFonte';
    src: url('../../font/Montserrat.ttf') format('truetype'); /* Corrigido: formato 'truetype' */
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'MinhaFonte', sans-serif;
}

/* css para personalizar a barra de rolagem */
::-webkit-scrollbar {
    width: 14px; 
}

::-webkit-scrollbar-track {
    background: var(--black);
}


::-webkit-scrollbar-thumb {
    background-color: var(--white); 
    border-radius: 2px; 
    border: 3px solid var(--black); 
}

/* Root para definir uma cor e usar em todo o site e poder fazer o tema light e dark */
:root{
    --black: #FFF;
    --white: #000;
    --green: #00008B;
}

.light{
    --black: #000;
    --white: #FFF;
    --green: #00FF00;
}

/* css do body global da página */
body{
    background-color: var(--black);
}