nav{
    background-color: var(--green);
    box-shadow: 0 0 18px var(--green);
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 4rem;
}

nav ul li a{
    color: var(--black);
}

#logo{
    color: #000;
}